@media only screen and (max-width: 600px) {
  html {
    scroll-padding-top: 370px;
  }

  /* Navbar */
  .navbar-brand {
    width: 60px;
    margin: 0px 13px;
  }
  .navbar-toggler {
    width: 40px;
    height: 30px;
    position: relative;
  }
  .navbar-toggler-icon {
    position: absolute;
    bottom: 0px;
    right: 4px;
  }
  .nav-item {
    letter-spacing: 1.5px;
    padding: 5px;
  }

  /* Home section */
  .home-page-logo {
    position: absolute;
    top: 32px;
  }
  .main-page {
    display: flex;
    flex-direction: column;
  }
  .heading-main {
    margin-top: 140px;
    padding: 0px 20px !important;
    text-align: center;
    align-items: center;
  }
  .heading-main > p {
    text-align: center;
  }
  .apply-button {
    margin: 30px auto;
    width: 280px;
  }

  .h1-title {
    font-size: 2.5rem;
  }

  /* About Hackverse */
  .about-hackverse-container {
    display: flex;
    flex-direction: column;
    margin: 5px !important;
    position: relative;
    padding: 20px 0px;
  }

  .title-about-hackverse {
    margin-bottom: 300px !important;
    font-size: 30px;
    text-align: center;
    padding-top: 50px;
  }

  .text-hackverse {
    text-align: justify;
    margin-bottom: 48px;
  }

  .revisit {
    width: 100%;
    margin: 20px 0px;
    margin-bottom: 30px;
  }
  .img-logo {
    top: 144px;
    justify-content: center;
    position: absolute;
    padding: 10px 5px;
    left: 60px;
  }

  /* Hackverse stats  */
  .text-center {
    font-size: 30px;
    padding: 40px 20px;
  }
  .stats-items {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
  }
  .institute_icon > img {
    width: 100px;
    margin-bottom: 12px;
  }
  .institute_icon {
    margin-bottom: 32px;
  }

  /* Sponsor section */

  .sponsor-ads > a > button {
    font-size: 18px;
    padding: 10px 50px;
  }
  .sponsor-ads > h1 {
    font-size: 25px !important;
    text-align: center;
    padding: 2%;
  }
  .sponsor-container > a > img {
    width: 135px !important;
    padding: 3% !important;
  }

  /* Faq section  */
  /* #faqs-section{
       position: relative;
        top: -50px ;
   } */
  .faq-container {
    padding: 0px 20px;
    padding-bottom: 60px;
  }
  .faq-container > h1 {
    font-size: 30px;
    text-align: center;
  }

  /* Footer section */
  .font-size {
    font-size: 30px;
    text-align: center;
  }
  .footer-container {
    padding-top: 30px;
  }
  .lead {
    text-align: center;
  }
  .text-align {
    text-align: center;
  }
  .community-name > p {
    padding: 7px !important;
  }
  .social-media-icon {
    padding-top: 20px;
  }
  .copy-right-tags {
    display: flex;
    flex-direction: column;
  }
  .copy-right-tags > p {
    text-align: center !important;
  }

/* Campus Photos */

.heading-campus {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}
.campus{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.campus > img{
  width: 130px;
}



/* ANIMATION */

.night{
  position: absolute;
  width: 140%;
  height: 100vh;
  z-index: 1;
  transform: rotateZ(-25deg);
  left: -8%;
  top: 3%;
  overflow: hidden;
  }
  
  .shooting_star {
  position: absolute ;
  height: 4px ;
  background-image: linear-gradient(to right, rgba(0,0,255,0), #6392f8);
  border-radius: 990px !important;
  filter: drop-shadow(0 0 6px #6392f8);
  animation: tail 5s ease-in-out infinite,
            falling 5s ease-in-out infinite
  }
  
  @keyframes tail {
    0%{
      width: 0px;
    }
    30%{
      width: 200px;
    }
    100%{
      width: 0px;
    }
  }
  
  @keyframes falling {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(500px);
    }
  }

  .shooting_star:nth-child(1){
    top: calc(50% - 250px);
    left: calc(48% - 250px);
    animation-delay: 1s;
  }
  
  .shooting_star:nth-child(1)::before , .shooting_star:nth-child(1)::after{
    animation-delay: 1s;
  }
  
  
  .shooting_star:nth-child(2){
    top: calc(65% - 50px);
    left: calc(40% - 150px);
    animation-delay: 3s;
  }
  
  .shooting_star:nth-child(2)::before , .shooting_star:nth-child(2)::after{
    animation-delay: 1.3s;
  }
  
  
  .shooting_star:nth-child(3){
    top: calc(50% - 100px);
    left: calc(15% - 50px);
    animation-delay: 4s;
  }
  
  .shooting_star:nth-child(3)::before , .shooting_star:nth-child(3)::after{
    animation-delay: 1.3s;
  }
  
}



@media (min-width:600px) and (max-width:1300px) {

  .night{
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 1;
    transform: rotateZ(-25deg);
    left: -32%;
    top:8%;
    }

  @keyframes falling {
    0%{
      transform: translateX(0);
    }
    100%{
      transform: translateX(800px);
    }
  }
}
